@import "./tailwind.css";
@import "./fonts.css";

::selection {
  background: var(--color-highlight-primary);
  color: var(--color-text);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

html,
body {
  @apply max-w-full overflow-x-hidden scroll-smooth bg-background text-white;
  font-size: 18px;
  font-family: "Noe Text";
}

header {
  @apply flex px-8 py-6 text-base;
  font-family: "Noe Display";

  *:hover {
    @apply text-highlight shadow-lg transition-all;
  }

  h1 {
    @apply flex-grow font-bold uppercase;
  }

  ul {
    @apply flex gap-4;

    li:not(:last-of-type)::after {
      content: "/";
      @apply ml-4 text-tertiary;
    }

    li:hover a {
      @apply text-highlightLight;
    }

    li.active a {
      @apply text-highlight;
    }
  }
}

main {
  font-family: "Noe Text";
  animation: fadeIn var(--transition-delay) ease-in-out;
  @apply my-4;

  h2,
  h3,
  h4 {
    font-family: "Noe Display";
  }
}

.cover {
  @apply relative inline-block w-[10em] shadow-lg shadow-black;
  transition: all 0.2s;

  img {
    @apply rounded-l-sm rounded-r-md;
  }

  /* This adds the 'hardcover' effect */
  &::after {
    content: "";
    @apply absolute bottom-0 left-[5px] top-0;
    left: 5px;
    width: 2%;
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 1px 0 8px rgba(255, 255, 255, 1);
  }

  &:hover {
    @apply drop-shadow-lg;
    transform: scale(1.05);
    cursor: pointer;
  }
}

.work-tabs {
  @apply mt-4;

  div[role="tablist"] {
    @apply mx-auto max-w-3xl space-x-6;

    button {
      &[role="tab"] {
        @apply rounded-t-md bg-background px-4 pt-1 text-xl transition duration-300  hover:text-white;
        font-family: "Noe Display";
      }

      &[aria-selected="true"] {
        @apply z-10 cursor-not-allowed border border-b-0 border-highlight bg-highlight text-black;
      }

      &[aria-selected="false"] {
        @apply border border-b-0 border-tertiary bg-backgroundDark text-secondary;
      }
    }
  }

  div[role="tabpanel"] {
    @apply border-t border-highlight bg-backgroundDark;
  }

  .books {
    @apply h-[19rem] space-x-8 overflow-x-scroll whitespace-nowrap px-8 py-4 scrollbar-thin scrollbar-track-blue-950;
    --scrollbar-thumb: var(--color-highlight);
  }
}

body.home {
  main {
    background-color: #080f4f;
    opacity: 1;
    background-image: radial-gradient(#024668 0.4px, transparent 0.4px),
      radial-gradient(#024668 0.4px, #080f4f 0.4px);
    background-size: 16px 16px;
    background-position:
      0 0,
      8px 8px;

    .hello {
      @apply mx-auto max-w-3xl p-4;

      p {
        @apply text-xl;
      }

      p:nth-of-type(1) {
        @apply text-4xl font-bold text-highlight;
        font-family: "Noe Display";
      }

      p:not(:last-of-type) {
        @apply mb-6;
      }
    }
  }
}

body.about {
  background: url(/assets/img/catherine-about.jpg) top right no-repeat;
  @apply bg-cover;

  header {
    ul {
      li:not(:last-of-type)::after {
        content: "/";
        color: var(--color-text);
        @apply ml-4 opacity-25;
      }
    }
  }

  main {
    background-size: cover;

    .content {
      @apply w-[65%] px-8;

      h2 {
        @apply text-4xl font-bold text-highlight;
      }

      h3 {
        @apply mb-6 text-2xl text-highlightLight;
      }

      p:not(:last-of-type) {
        @apply mb-6;
      }

      a {
        @apply underline decoration-0 underline-offset-[3px];
      }

      a:hover {
        @apply text-highlightLight;
      }
    }
  }

  footer {
    @apply text-gray-400;

    &:hover {
      @apply opacity-100;
    }

    p {
      @apply ml-4;

      a {
        @apply hover:text-white;
      }
    }
  }
}

body.services {
  main {
    .content {
      @apply mx-auto max-w-3xl p-4;

      > div > p:first-of-type {
        @apply text-xl;
      }

      h2 {
        @apply mb-12 text-center text-4xl font-bold text-highlight;
      }

      h3 {
        @apply mt-8 border-t border-dotted pt-8 text-center text-2xl font-bold;
        border-color: var(--color-tertiary);
        color: var(--color-highlight-light);
      }

      h3 + p {
        @apply mt-6;
      }

      h4 {
        @apply mb-4 text-center text-xl;
        color: var(--color-highlight-light);
      }

      p {
        @apply mb-6;
      }

      ul {
        @apply my-6 list-disc space-y-3;
      }

      mark {
        @apply bg-transparent text-white;
        color: var(--color-secondary);
      }
    }
  }
}

body.testimonials {
  main {
    .content {
      @apply mx-auto max-w-3xl p-4;

      h2 {
        color: var(--color-highlight);
        @apply mb-12 text-center text-4xl font-bold;
      }

      blockquote {
        border-left-color: var(--color-tertiary);
        @apply border-l border-dotted pl-4;
      }

      blockquote + p {
        font-family: "Noe Display";
        color: var(--color-secondary);
        @apply relative mb-12 ml-8 mt-2 text-base;
      }

      blockquote + p::before {
        content: "\2013";
        @apply absolute -left-4;
      }

      blockquote + p a {
        text-decoration-color: var(--color-secondary);
        @apply underline decoration-0 underline-offset-2;

        &:hover {
          @apply text-white decoration-white;
        }

        strong {
          @apply text-white;
        }
      }

      blockquote + p:last-child {
        @apply mb-0;
      }
    }
  }
}

body.clients {
  main {
    .content {
      @apply p-4;

      h2 {
        @apply mb-4 text-center text-4xl font-bold;
        color: var(--color-highlight);
      }

      h3 {
        @apply mt-4 text-center text-2xl font-bold;
        color: var(--color-highlight-light);
      }

      > div > ul {
        @apply mt-8 gap-12 text-center md:columns-2 lg:columns-3;
        column-rule: 1px dotted var(--color-tertiary);

        li:not(:last-of-type) {
          @apply mb-2;
        }
      }

      .publishers {
        @apply py-12;

        background-color: #080f4f;
        opacity: 1;
        background-image: radial-gradient(#024668 0.4px, transparent 0.4px),
          radial-gradient(#024668 0.4px, #080f4f 0.4px);
        background-size: 16px 16px;
        background-position:
          0 0,
          8px 8px;

        ul {
          @apply whitespace-nowrap;
          animation: 30s slide infinite linear;

          &:hover {
            animation-play-state: paused;
          }

          li {
            @apply mr-24 inline-block;
          }
        }

        img {
          @apply h-24 w-auto opacity-30 invert;

          &:hover {
            @apply opacity-100;
          }
        }
      }
    }
  }
}

body.contact {
  main {
    .content {
      @apply mx-auto max-w-3xl p-4;

      h2 {
        @apply mb-4 text-center text-4xl font-bold;
        color: var(--color-highlight);
      }

      h3 {
        @apply text-center  text-2xl;
      }
    }

    form {
      @apply mt-8;

      * {
        background-color: var(--color-background);
        border-color: var(--color-tertiary);
      }
    }

    form input,
    form textarea {
      @apply mb-4 w-full rounded-md border p-2 text-white;
    }

    form textarea {
      @apply h-64;
    }

    form input::placeholder,
    form textarea::placeholder {
      color: var(--color-tertiary);
    }

    form button[type="submit"] {
      @apply w-full rounded-md border py-2 text-2xl italic;

      svg {
        @apply ml-2 inline-block w-4 stroke-1;
        background: var(--color-background);
        fill: var(--color-highlight);
      }
    }

    form button[type="submit"]:hover {
      background: var(--color-highlight);
      border-color: var(--color-highlight);

      svg {
        @apply fill-white;
        background: var(--color-highlight);
      }
    }
  }
}

footer {
  font-family: "Noe Display";
  color: var(--color-tertiary);
  @apply mb-8 p-4 text-xs;

  p {
    @apply ml-3 block w-fit;
    margin: 0 auto;

    span {
      @apply -ml-3;
    }
  }

  a {
    @apply underline underline-offset-2 hover:text-white;
  }
}
